/* ------------------------------- global ------------------------------- */

/* -------------------- base -------------------- */

.global__body{
	display: grid;
	grid-template-areas: "header header  header header  header"
						 "none1  path    path   path    none2"
						 "none1  l_aside main   r_aside none2"
						 "footer footer  footer footer  footer";
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 1fr auto auto auto 1fr;

	margin: 0;
	padding: 0;

	min-height: 100vh;

	font-family: Roboto, sans-serif;

	background-color: #cccccc;
}

/* -------------------- blocks -------------------- */

.global__block{
	margin: 20px 20px 0 0;
	padding: 10px 20px;

	border-radius: 20px;

	background-color: #eeeeee;
}
.global__terms{
	margin: 20px 20px 0 0;
	padding: 10px 20px;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	background-color: #eeeeee;
}
.global__term{
	margin: 10px 20px 0 0;
	padding: 15px 20px;

	border-radius: 0;

	background-color: #eeeeee;
}
.global__term:last-child{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* -------------------- header -------------------- */

.global__header{
	grid-area: header;

	position: sticky;
	top: 0;
	z-index: 2;

	background-color: #008B8B;
}
.global__header-inner{
	width: 1200px;

	margin: 5px auto;
}
.global__header-logo{
	font-family: Consolas, sans-serif;
	font-size: 2em;
	font-style: italic;
}
.global__header-logo-link{
	text-decoration: none;

	color: #eeeeee;
}
.global__header-links{

}
.global__header-links-link{
	text-decoration: none;

	color: #eeeeee;
}

/* -------------------- path -------------------- */

.global__path-wrapper{
	grid-area: path;

	position: sticky;
	top: 47px;

	background-color: #cccccc;

	padding-top: 20px;
	padding-bottom: 10px;
}
.global__path{
	margin-top: 0;
}
.global__path-link{
	text-decoration: none;

	color: #0000FF;
}

/* -------------------- left aside -------------------- */

.global__left-aside{
	grid-area: l_aside;

	width: 250px;
	height: max-content;

	position: sticky;
	top: 115px;
}
.global__left-aside-btn-up{

}

/* -------------------- menu -------------------- */

.global__menu{
	margin-top: 10px;
}
.global__menu-title{

}
.global__menu-list{
	padding-left: 20px;
}
.global__menu-list-item{

}

/* -------------------- main -------------------- */

.global__main{
	grid-area: main;

	width: 950px;

	padding-bottom: 20px;
}
.global__section-content{

}
.global__section-content:first-child{
	margin-top: 10px;
}

/* -------------------- content -------------------- */

.global__section-content .indent{
	margin-left: 40px;
}

.global__section-content img{
	display: block;
	max-width: 100%;
	height: auto;
}

.global__section-content h1{
	font-size: 1.65em;

	border-bottom: 3px solid #000000;
}
.global__section-content h2{
	border-bottom: 1px solid #000000;
}

.global__section-content a{
	text-decoration: none;

	color: #0000FF;
}

.global__section-content blockquote{
	margin-left: 25px;
	padding: 3px 10px;

	border-left: 5px solid #0000FF;
}
.global__section-content blockquote p{
	margin: 0;
}

.global__section-content code{
	padding: 3px;

	white-space: pre-line;

	border-radius: 3px;

	color: #f8f8f2;
	background-color: #272822;
}
.global__section-content pre{
	padding: 5px 20px 1.5em;

	line-height: 1.4em;
	overflow-x: auto;

	border-radius: 5px;

	background-color: #272822;
}
.global__section-content li{
	padding-bottom: 4px;
}

/* -------------------- right aside -------------------- */

.global__right-aside{
	grid-area: r_aside;
}

/* -------------------- footer -------------------- */

.global__footer{
	grid-area: footer;

	background-color: #008B8B;
}
.global__footer-info{
	margin: 5px;

	text-align: center;

	color: #eeeeee;
}
